Look first at immutable factors: age, ethnicity, marital status, gender.

In [13]:
# Import libraries
import pandas as pd
import os.path

microbiology_events = pd.read_csv("../data/raw/mimic-iii-demo/MICROBIOLOGYEVENTS.csv")
chart_events = pd.read_csv("../data/raw/mimic-iii-demo/CHARTEVENTS.csv")
admission = pd.read_csv("../data/raw/mimic-iii-demo/ADMISSIONS.csv")
patient = pd.read_csv("../data/raw/mimic-iii-demo/PATIENTS.csv")

/Users/isabelzimmerman/.local/share/virtualenvs/isabelzimmerman-n-Uyvjwz/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (8,10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
#Corr matrix patient demographic
microbiology_events.corr()

,row_id,subject_id,hadm_id,spec_itemid,org_itemid,isolate_num,ab_itemid,dilution_value
row_id,1.000000,0.999470,-0.077560,0.163281,0.011007,-0.257276,0.072114,0.125916
subject_id,0.999470,1.000000,-0.081844,0.165990,0.008775,-0.255885,0.072738,0.126571
hadm_id,-0.077560,-0.081844,1.000000,-0.008868,-0.207341,-0.006459,-0.041989,-0.064711
spec_itemid,0.163281,0.165990,-0.008868,1.000000,-0.104584,0.046918,0.118452,0.070952
org_itemid,0.011007,0.008775,-0.207341,-0.104584,1.000000,-0.075366,-0.032227,-0.036782
isolate_num,-0.257276,-0.255885,-0.006459,0.046918,-0.075366,1.000000,0.074754,-0.058581
ab_itemid,0.072114,0.072738,-0.041989,0.118452,-0.032227,0.074754,1.000000,-0.041630
dilution_value,0.125916,0.126571,-0.064711,0.070952,-0.036782,-0.058581,-0.041630,1.000000

In [14]:
# summary statistics
chart_events.describe()

,row_id,subject_id,hadm_id,icustay_id,itemid,cgid,valuenum,warning,error
count,7.583550e+05,758355.000000,758355.000000,758274.000000,758355.000000,758355.000000,3.238840e+05,382279.000000,382279.000000
mean,1.632063e+08,26308.006320,153851.705002,249203.993498,113923.014463,17960.991000,8.157890e+01,0.019321,0.001695
std,1.010304e+08,16110.663258,25872.834680,25510.277662,111088.482196,2178.703268,3.911579e+03,0.137651,0.041137
min,5.279021e+06,10006.000000,100375.000000,201006.000000,1.000000,14023.000000,-5.000000e+02,0.000000,0.000000
25%,8.601915e+07,10111.000000,138132.000000,232110.000000,618.000000,15963.000000,4.000000e+00,0.000000,0.000000
50%,2.035645e+08,40124.000000,160445.000000,249805.000000,220045.000000,17873.000000,3.500000e+01,0.000000,0.000000
75%,2.725167e+08,42135.000000,172082.000000,271544.000000,224080.000000,19907.000000,9.200000e+01,0.000000,0.000000
max,2.744939e+08,44228.000000,199395.000000,298685.000000,228414.000000,21570.000000,2.222222e+06,1.000000,1.000000

In [16]:
admission.describe()

,row_id,subject_id,hadm_id,hospital_expire_flag,has_chartevents_data
count,129.000000,129.000000,129.000000,129.000000,129.000000
mean,28036.441860,28010.410853,152343.441860,0.310078,0.992248
std,14036.548988,16048.502883,27858.788248,0.464328,0.088045
min,12258.000000,10006.000000,100375.000000,0.000000,0.000000
25%,12339.000000,10088.000000,128293.000000,0.000000,1.000000
50%,39869.000000,40310.000000,157235.000000,0.000000,1.000000
75%,40463.000000,42135.000000,174739.000000,1.000000,1.000000
max,41092.000000,44228.000000,199395.000000,1.000000,1.000000

In [17]:
admission.corr()

,row_id,subject_id,hadm_id,hospital_expire_flag,has_chartevents_data
row_id,1.000000,0.999292,-0.126926,-0.145396,0.099017
subject_id,0.999292,1.000000,-0.126186,-0.144537,0.098917
hadm_id,-0.126926,-0.126186,1.000000,0.062993,-0.132438
hospital_expire_flag,-0.145396,-0.144537,0.062993,1.000000,-0.131844
has_chartevents_data,0.099017,0.098917,-0.132438,-0.131844,1.000000